#app {
    width: 100%;
    height: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.grid {
  width: 250px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
  align-items: start;
  align-content: center;
  justify-content: center;
}

.hand {
  display: flex;
  flex-direction: row;
  gap: 30px;
  padding: 30px 60px;
}

button {
  background: none;
  border: none;
  padding: 1em;
  cursor: pointer;
}

@media screen and (min-width: 600px) {
  #app {
    max-width: 600px;
  }
  .grid {
    width: 700px;
  }
}